<div class="page more_help">

  <!-- 头部栏 -->
  <header class="header common_header">
    <a href="javascript:history.back();">
      <div class="back">
        <div class="back_arrow"></div>
      </div>
    </a>
    <div class="title">帮助</div>
  </header>

 <!-- 帮助信息条目 -->
  <div class="detail_infos">
    <div class="detail_title">找回密码<div class="help_list_arrow" ng-class="{help_list_arrow_red:showAcctDetail}" ng-click="showAcctDetail = !showAcctDetail"><i class="fa fa-chevron-down"></i></div>
      <div class="help_details" ng-show="showAcctDetail">
        您可通过“我的”上方红色区域“登录/注册”栏目进入找回密码功能，实时找回登录密码
      </div>
    </div>
    <div class="detail_title">联系我行<div class="help_list_arrow" ng-class="{help_list_arrow_red:showPswDetail}" ng-click="showPswDetail = !showPswDetail"><i class="fa fa-chevron-down"></i></div>
      <div class="help_details" ng-show="showPswDetail">
        您可通过更多页“联系我行”栏目咨询您使用工银e生活APP遇到的问题
      </div>
    </div>

    <div class="detail_title">意见反馈<div class="help_list_arrow" ng-class="{help_list_arrow_red:showCardDetail}" ng-click="showCardDetail = !showCardDetail"><i class="fa fa-chevron-down"></i></div>
      <div class="help_details" ng-show="showCardDetail">
        您可通过更多页“意见反馈”栏目提出您使用工银e生活APP的意见建议
      </div>
    </div>

  </div>
</div>