<div class="scrollable page card_offer">
    <!-- 内容 -->
    <div class="scrollable-content">

        <!-- 头部栏 -->
        <header class="header common_header">
            <div>
                <div class="back" ng-click="return_btn($event)">
                    <div class="back_arrow"></div>
                    <div>返回</div>
                </div>
            </div>

            <div ng-class="{'favorite':bankInfo.fav_status=='0', 'favorite_choose':bankInfo.fav_status=='1'}"
                 ng-click="addBankFavor()"></div>
            <div class="share"></div>
            <div class="title">工行卡优惠详情</div>-->
        </header>

        <!-- 顶部广告图片 -->
        <div class="top_face">
            <img ng-src="{{parseImageUrl(bankInfo.image_url)}}" fallback-src="{{defaultImgUrl}}" alt="没有找到图片">
        </div>

        <!-- 优惠电子券 -->
        <div class="coupon">
            <div class="container">
                <div class="title" ng-bind="bankInfo.promotions_titl"></div>
                <div class="info title" ng-bind="bankInfo.promotions_title"></div>
                <div class="info">有效期：<span ng-bind="bankInfo.start_date"></span>~<span
                        ng-bind="bankInfo.end_date"></span></div>
                <a ng-click="validateLogin('#/discount/comment/{{id}}/Bank')">
                    <div class="coupon_button">点评</div>
                </a>
            </div>
        </div>
        <div class="coupon_desc">
            <p ng-show="bankInfo.content">优惠内容</p>

            <p ng-show="bankInfo.content"><span ng-bind-html="bankInfo.content | to_trusted"></span></p>

            <p ng-show="bankInfo.use_explain">使用须知</p>

            <p ng-show="bankInfo.use_explain"><span ng-bind-html="bankInfo.use_explain | to_trusted"></span></p>
        </div>

        <!-- 网友点评 -->
        <div class="title_section review" ng-show="count>0">
            <a href="#/review/index/{{id}}/Bank">
                <div class="section_header">
                    <div class="title">网友点评（<span ng-bind="count"></span>）</div>
                    <div class="right_arrow" ng-show="count > 1"></div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <div class="content line_break">
                <div class="img_wrap">
                    <img fallback-src="{{defaultImgUrl}}" ng-src="{{parseImageUrl(commentList.image_url)}}">
                </div>
                <div class="right">
                    <div class="title" ng-bind="commentList.nick_name"></div>
                    <span ng-repeat="star in stars" class="star_{{star.type}}"></span>

                    <div class="desc">
                        <span ng-bind="::commentList.content" class="line_break"></span>
                        <span ng-show="showContent" ng-bind="::commentList.more" class="line_break"></span>

                        <span class="light_blue_text" ng-show="::commentList.longEnough"
                              ng-click="showContent = !showContent"><span ng-show="!showContent">.....</span><span
                                ng-show="showContent">收起</span><i class="fa fa-chevron-down transition"
                                                                  ng-class="{rotate180:showContent}"></i></span>
                    </div>
                    <a href="#/review/album" ng-show="imagelist.length > 0">
                        <ul>
                            <li ng-repeat="image in imagelist | limitTo:3" ng-class="{list_last_img:$index == 2}"><img
                                    ng-src="{{parseImageUrl(image.review_image_url)}}" alt=""
                                    fallback-src="{{defaultImgUrl}}">

                                <div class="rest_img_num" ng-show="imagelist.length>3&&($index == 2)">
                                    还剩{{imagelist.length-3}}张
                                </div>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>

        <div class="title_section apply_store">
            <div class="section_header" ng-show="bankStoreList.suitable_num == 1">
                <div class="title">适用门店</div>
            </div>

            <a href="#/business/bank_available_store/{{id}}/BANK"
               ng-show="bankStoreList.suitable_num != 1&&bankStoreList.suitable_num != 0">
                <div class="section_header">
                    <div class="title">适用门店（<span ng-bind="bankStoreList.suitable_num"></span>家）</div>
                    <div class="right_arrow" ng-show="bankStoreList.suitable_num>1"></div>
                </div>
            </a>

            <ul class="thumb_list">
                <li ng-repeat="busiStore in bankStoreList | limitTo:1">
                    <a href="#/business/index/{{busiStore.store_code}}">
                        <img class="left"
                             ng-src="{{parseImageUrl(busiStore.image_url)}}" fallback-src="{{defaultImgUrl}}">

                        <div class="right">
                            <div class="top large text_overflow" ng-style="busiStore.PRStyle">
                                {{::busiStore.store_name}}
                            </div>
                            <div class="middle">
                                <div class="stars">
                                    <div ng-repeat="star in busiStore.levels" class="star_{{star.type}}"></div>
                                </div>
                            </div>
                            <div class="bottom small gray">
                                {{busiStore.bottomContent}}
                            </div>
                            <div class="right_bottom small light_gray" ng-show="busiStore.distance !=0.0">
                                {{busiStore.distance}}{{busiStore.unit}}
                            </div>
                            <div class="other_info">
                                <div ng-repeat="role in busiStore.new_discount_role" class="top discount_icon {{role}}">
                                </div>
                                <br>

                                <div class="middle small avg_price"
                                     ng-show="busiStore.avg_price!=0 && busiStore.avg_price!=null">{{busiStore.avg_price
                                    +'元/人'}}
                                </div>
                            </div>
                        </div>
                    </a>

                </li>
            </ul>

        </div>

    </div>
</div>
