<div class="scrollable pay_confirm">
<!-- 内容 -->
  <div class="scrollable-content">
    
    <header class="header common_header">
      <div class="title">支付</div>
    </header>

    <div class="pay_state">
		<p class="title">是否支付成功？</p>
		<input class="first_btn" type="button" value="支付成功" ng-click="goList()"/>
		<!-- <a href="#">支付成功</a> -->
		<input class="second_btn" type="button" value="支付失败" ng-click="goList()" />
		<!-- <a href="#">支付成功</a> -->
	</div>
    
  </div><!--  scrollable content -->
</div>