<div class="scrollable page num_proving">
    <!-- 内容 -->
    <div class="scrollable-content">

        <header class="header common_header">
            <a href="javascript:history.back();" class="return_btn">
                <div class="back">
                    <div class="back_arrow"></div>
                    <div>返回</div>
                </div>
            </a>
            <div class="title">手机号验证</div>
        </header>

        <div class="top_content">
            <div class="order_state">
                <span>不是您的常用手机号，需要验证~</span>
            </div>
        </div>

        <div class="order_detail">
            <ul class="clearfix bor_top">
                <li>手机号</li>
                <li><input type="text"></li>
            </ul>
            <ul class="clearfix">
                <li>验证码<input type="text" placeholder="请输入验证码"></li>
                <li class="fr prov_num">获取验证码</li>
            </ul>
        </div>
        <div class="btn">
            <a href="">确定</a>
        </div>
    </div>
</div>
</div>
