<div class="scrollable page order_detail">
    <!-- 内容 -->
    <div class="scrollable-content">

        <header class="header common_header">
            <a href="javascript:history.back();" class="return_btn">
                <div class="back">
                    <div class="back_arrow"></div>
                    <div>返回</div>
                </div>
            </a>
            <div class="title">订单详情</div>
        </header>

        <div class="top_content">
            <div class="order_state">
                <span>预订成功</span>
            </div>
        </div>

        <div class="order_detail">
            <ul class="clearfix bor_top">
                <li>海底捞</li>
                <li class="li_two">1月19号19:00</li>
                <li class="fr"><span>4位</span> | <span>大厅</span></li>
            </ul>
            <ul class="clearfix">
                <li>李先生</li>
                <li class="li_two">の75847355345839</li>
            </ul>
        </div>
        <div class="btn">
            <a href="">取消订单</a>
        </div>
    </div>
</div>
</div>
