<div class="scrollable page order_sub">
    <!-- 内容 -->
    <div class="scrollable-content">

        <header class="header common_header">
            <a href="javascript:history.back();" class="return_btn">
                <div class="back">
                    <div class="back_arrow"></div>
                    <div>返回</div>
                </div>
            </a>
            <div class="title">提交订单</div>
        </header>

        <div class="top_content">
            <div class="order_state">
                <span>订单已提交餐厅</span>
            </div>
            <div class="order_remain">
                <p>预计需要*1~*2分钟，请耐心等候</p>
                <p>稍后以短信方式通知您预订结果</p>
                <p class="remain_last">您还可以通过“我的订单栏目查看订单处理结果”</p>
            </div>
        </div>

        <div class="order_detail">
            <ul class="clearfix bor_top">
                <li>海底捞</li>
                <li class="li_two">1月19号19:00</li>
                <li class="fr"><span>4位</span> | <span>大厅</span></li>
            </ul>
            <ul class="clearfix">
                <li>李先生</li>
                <li class="li_two">の75847355345839</li>
            </ul>
        </div>
        <div class="btn">
            <a href="">查看预订进度</a>
        </div>
    </div>
</div>
</div>
