<div class="scrollable page review_comment">
<!-- 内容 -->
  <div class="scrollable-content" id="top" ng-init="allowShow = true">
    <div class="scrollable-header">
    <header class="header common_header">
      <a href="javascript:void(0);" class="return_btn" ng-click="back()">
        <div class="back">
          <div class="back_arrow"></div>
          <div>返回</div>
        </div>
      </a>
      <div class="confirm_btn" ng-click="preSubmit()">确定</div>
      <div class="title">点评</div>
    </header>
    </div>

    <div class="comment_wrap">
      <!-- 评价星级 -->
      <div class="comment_stars">
        <div class="comment global">
          <div class="name">总体评价{{::myName}}</div>
          <div class="stars">
            <div class="star" ng-click="globalStar=1" ng-class="{star_gray:globalStar < 1}"></div>
            <div class="star" ng-click="globalStar=2" ng-class="{star_gray:globalStar < 2}"></div>
            <div class="star" ng-click="globalStar=3" ng-class="{star_gray:globalStar < 3}"></div>
            <div class="star" ng-click="globalStar=4" ng-class="{star_gray:globalStar < 4}"></div>
            <div class="star" ng-click="globalStar=5" ng-class="{star_gray:globalStar < 5}"></div>
          </div>
          <div class="desc">
            <span ng-bind="des2[globalStar-1]"></span>
          </div>
        </div>
        <div class="comment" ng-show="tasteFlag">
          <div class="name">口味</div>
          <div class="smiles">
            <div class="smile" ng-click="tasteStar=1" ng-class="{smile_gray:tasteStar < 1}"></div>
            <div class="smile" ng-click="tasteStar=2" ng-class="{smile_gray:tasteStar < 2}"></div>
            <div class="smile" ng-click="tasteStar=3" ng-class="{smile_gray:tasteStar < 3}"></div>
            <div class="smile" ng-click="tasteStar=4" ng-class="{smile_gray:tasteStar < 4}"></div>
            <div class="smile" ng-click="tasteStar=5" ng-class="{smile_gray:tasteStar < 5}"></div>
          </div>
          <div class="desc">
            <span ng-bind="des[tasteStar-1]"></span>
          </div>
        </div>
        <div class="comment" ng-show="environmentFlag">
          <div class="name">环境</div>
          <div class="smiles">
            <div class="smile" ng-click="environmentStar=1" ng-class="{smile_gray:environmentStar < 1}"></div>
            <div class="smile" ng-click="environmentStar=2" ng-class="{smile_gray:environmentStar < 2}"></div>
            <div class="smile" ng-click="environmentStar=3" ng-class="{smile_gray:environmentStar < 3}"></div>
            <div class="smile" ng-click="environmentStar=4" ng-class="{smile_gray:environmentStar < 4}"></div>
            <div class="smile" ng-click="environmentStar=5" ng-class="{smile_gray:environmentStar < 5}"></div>
          </div>
          <div class="desc">
            <span ng-bind="des[environmentStar-1]"></span>
          </div>
        </div>
        <div class="comment" ng-show="serviceFlag">
          <div class="name">服务</div>
          <div class="smiles">
            <div class="smile" ng-click="serviceStar=1" ng-class="{smile_gray:serviceStar < 1}"></div>
            <div class="smile" ng-click="serviceStar=2" ng-class="{smile_gray:serviceStar < 2}"></div>
            <div class="smile" ng-click="serviceStar=3" ng-class="{smile_gray:serviceStar < 3}"></div>
            <div class="smile" ng-click="serviceStar=4" ng-class="{smile_gray:serviceStar < 4}"></div>
            <div class="smile" ng-click="serviceStar=5" ng-class="{smile_gray:serviceStar < 5}"></div>
          </div>
          <div class="desc">
            <span ng-bind="des[serviceStar-1]"></span>
          </div>
        </div>
            
      </div>

      <!-- 评价输入框 -->
      <div class="comment_box" ng-class="{typing: isTyping}">
        <div class="placeholder">
          <span ng-if="!comment">请评价：</span>
          <span ng-bind="comment" class="wordBlack"></span>
        </div>
       
        <textarea class="input" ng-model="comment" id="commentArea"  ng-focus="onCommentFocus()"  ng-blur="isTyping=false"></textarea>
        
        <span class="maxWord"><span ng-show="comment==null">最少输入5字</span><span ng-show="comment.length>0 && comment.length<5">加油！还有{{5-comment.length}}字！</span><span ng-show="comment.length>=5">{{comment.length}}/500</span></span>
        <div class="clearfix image_div" ng-hide="isTyping">
          <div class="image_box" ng-repeat="img in imgList track by $index">
            <img fallback-src="{{defaultImgUrl}}" ng-src="{{parseImageUrl(img.url)}}">
          </div>
          <div class="image_box">
            <div class="image add_btn" ng-click="getPhoto('comment')"></div>
          </div>
        </div> 
      </div>

      <!-- 人均 -->
      <div class="avg_price"  ng-hide="hideAvg || isTyping">
        <span>¥</span>
        <input type="tel" class="navg_price" placeholder="人均" ng-model="AvgMoney"/>
      </div>

    </div>
  
  </div>
</div> 
<div ng-show="loading" class="ng-hide">
  <i class="fa fa-spinner fa-spin loading-spinner"></i>
</div>
<div ui-content-for="modals">
  <div class="modal alert_modal ng-scope" ui-if="success_modal" ui-state="success_modal">
    <div class="modal-backdrop in" ng-click="goBack()"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="top">
          <div class="icon icon_praise"></div>
          <div>评价成功</div>
        </div>
        <div ng-click="goBack()" class="bottom">确定</div>
      </div>
    </div>
  </div>
  
  <div class="modal alert_modal ng-scope" ui-if="back_modal" ui-state="back_modal">
    <div class="modal-backdrop in" ui-turn-off="back_modal"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="top">
          <div>是否确定放弃点评?</div>
        </div>
        <!-- <div ui-turn-off="back_modal"  ng-click="errorReport('close')" class="bottom">
         确定
       </div> -->
       <div ui-turn-off="back_modal" class="bottom1">
          <span ui-turn-off="back_modal" class="bottom_cancel">取消</span>
          <span class="split"> | </span>
          <span ui-turn-off="back_modal" ng-click="goBack()" class="bottom_confirm">确定</span>
       </div>
     </div>
   </div>
 </div>
</div><!-- end of modal -->
