.business_detail {
  .detail_info{
    margin:5px 10px;
    font-size: 15px;
  }
  .detail_desc{
    margin: 10px 0px;
    padding: 14px 10px;
    background-color: #fff;
    font-size: 12px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
  }

}
